[submodule "plugins/ctb"]
	path = plugins/ctb
	url = https://github.com/Open-Resin-Alliance/df-plugin-ctb.git
[submodule "plugins/sdcp-v3"]
	path = plugins/sdcp-v3
	url = https://github.com/Open-Resin-Alliance/df-plugin-sdcp-v3.git
[submodule "plugins/anycubic"]
	path = plugins/anycubic
	url = https://github.com/Open-Resin-Alliance/df-plugin-anycubic.git
[submodule "plugins/elegoo"]
	path = plugins/elegoo
	url = https://github.com/Open-Resin-Alliance/df-plugin-elegoo
[submodule "plugins/sirayatech"]
	path = plugins/sirayatech
	url = https://github.com/Open-Resin-Alliance/df-plugin-sirayatech
[submodule "plugins/lys-import"]
	path = plugins/lys-import
	url = https://github.com/Open-Resin-Alliance/df-plugin-lys
